/* current palette: https: //lospec.com/palette-list/curiosities */
/* actually its: https: //lospec.com/palette-list/twilight-5  */
/* actually its: https: //lospec.com/palette-list/enchanted-6 */
/* actually it's fucking toybox: https: //lospec.com/palette-list/toybox32 */

:root {
    --light: #e2e4ff;
    --dark: #24263a;
    --less-dark: #4f5180;
    --bar-color: #726da3;
    --panel-color: #4f5180;
    --panel-background: #4f5180;
    --panel-border: #4f5180;
    --link-color: #2cb1b1;
    --outline-color: #4edfd0;
    --link-hovered: #fc7790;
    --transparent-dark: #24263aaa;
}

@font-face {
    font-family: Lato;
    src: url('/font/Lato-Regular.ttf');
}

@font-face {
    font-family: Merriweather;
    src: url('/font/Merriweather-Regular.ttf');
}

body {
    font-family: Lato;
    font-size: 100%;
    font-weight: 100;
    line-height: 1.3em;
    color: var(--text-color);
    background-color: var(--dark);
    margin: 0;
    /* don't delete this there's an automatic margin to the body component */
    padding-top: 20px;
    padding-bottom: 20px;


    background: url(/img/Mired_BG.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}

h1.centered {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato;
    font-weight: 700;
    margin: 1em 0 1em;
    margin-top: 1em;
    margin-bottom: 1.3em
}

a {
    font-weight: 300;
    color: var(--link-color);
    text-decoration: none;
}

a:focus,

a:hover {
    color: var(--link-hovered)
}

ul#menu li {
    display: inline;
    padding: 2em;
    margin-bottom: 10px;
}

.header-img {
    background: url(/img/Mired_BG.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* this is for outline style text only I think? */
.outline {
    color: var(--link-color);
    /* can't be transparent, needs to mask shadows */
    text-shadow: 1px 1px 0 var(--outline-color),
        -1px 1px 0 var(--outline-color),
        1px -1px 0 var(--outline-color),
        -1px -1px 0 var(--outline-color);
}


.navigation {
    display: inline-flex;
    border-style: solid;
    font-size: 1.3em;
    flex-wrap: nowrap;
}

.sub-navigation {
    justify-content: center;
    text-align: left;
    /* background-color: var(--navigation-select); */
    display: inline-flex;
    font-size: 1.3em;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding-right: 15px;
    min-width: 300px;
    border-style: solid;
}

.light {
    background-color: var(--light);
    border-color: var(--bar-color);
    color: var(--dark)
}

.dark {
    /* background-color: var(--dark); */
    border-color: var(--bar-color);
    color: var(--light);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: var(--bar-color);
    color: var(--light);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: var(--bar-color);
    color: var(--light);
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}

.box {
    width: 18%;
    min-width: 350px;
    padding: 25px;
    border-style: solid;
    border-width: 10px;
    border-top-width: 40px;
    border-radius: 10px;
    border-color: var(--panel-border);
    color: var(--light)
}

.box.dark {
    background: var(--dark);
    color: var(--light)
}

.box.intro-text {
    border-style: none;
    background: var(--dark);
    color: var(--link-color);
}

div.portfolio {
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

div.headline {
    justify-content: center;
    text-align: center;
    display: inline-flex;
    flex-wrap: nowrap;
    display: block;
}

div.section-header {
    justify-content: center;
    text-align: center;
    display: inline-flex;
    flex-wrap: nowrap;
    min-height: 100px;
    width: 768px;
    background-color: var(--transparent-dark);
    backdrop-filter: blur(15px);
    border-style: solid;
    border-color: #c0b9f5;
    border-width: 3px;
    border-radius: 5px;
    border-top-width: 15px;
    border-color: var(--);
    padding-top: 15px;
}

div.head-margin {
    margin-left: 13%;
}


div.blog {
    justify-content: center;
    white-space: pre-wrap;
    row-gap: 10px;
    column-gap: 10px;
    display: grid
}

div.post {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

IMG.logo {
    width: 100%;
}

IMG.contained {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--bar-color)
}

iframe.contained {
    width: 100%;
    height: 460px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--bar-color)
}

embed.contained {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p.centered {
    text-align: center;
}

.icon {
    margin: 15px;
}

#window {
    border-image: url("/img/Window_Ninepatch.png") stretch;
    border-image-slice: 110 300 100 100 fill;
    border-top-width: 20px;
    border-right-width: 60px;
    border-left-width: 20px;
    border-bottom-width: 20px;
    backdrop-filter: blur(8px);
}

@media (orientation:portrait) {
    body {
        font-size: 150%;
    }

    .box {
        width: 75%;
    }

    .navigation {
        min-width: 768px;
    }

    /* .sub-navigation {
        min-width: 768px;
    } */

    div.headline {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    div.portfolio {
        column-gap: 25px;
        row-gap: 25px;
    }
}